@import "../../vars.css";

.container {
  margin-top: 70px;
  margin-inline: 10%;
  color: var(--color-text);
}

.container h1 {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.projects {
  margin-top: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
  flex-wrap: wrap;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
  padding: 18px 24px;
  min-height: 350px;
  flex-wrap: wrap;
  text-align: center;
}

.img {
  width: 75px;
}

.project h2 {
  font-size: 25px;
  font-weight: 500;
}

.project p {
  /* width: 70px; */
  font-size: 15px;
  font-weight: 400;
}

.skills {
  display: flex;
  justify-content: space-between;
  /* width: 20%; */
  gap: 30px;
}

.skills p {
  padding: 5px;
  font-size: 15px;
  font-weight: 400;
  background-color: var(--color-dark);
  border-radius: 15px;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  font-size: 15px;
  font-weight: 400;
}

.links a {
  background-color: var(--color-primary);
  border-radius: 15px;
  padding: 8px;
  text-decoration: none;
  color: var(--color-text);
  transition: transform 0.5s;
}

.links a:hover {
  transform: scale(1.25);
}
