@import "../../vars.css";

.container {
  margin-top: 70px;
  margin-inline: 10%;
  color: var(--color-text);
}

.container h1 {
  font-size: clamp(2rem, 2vw + 1rem, 4rem);
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.projects {
  margin-top: 37px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* justify-content: space-around; */
  gap: 32px;
  width: 100%;
  flex-wrap: wrap;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  background: linear-gradient(180deg, var(--color-bg-dark) 0%, #332046 100%);
  padding: 18px 24px;
  min-height: 350px;
  /* min-width: 500px; */
  flex-wrap: wrap;
  text-align: center;
}

.img {
  width: 75px;
}

.project h2 {
  font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
  font-weight: 500;
  color: var(--color-text-highlight);
}

.project p {
  /* width: 70px; */
  font-size: clamp(1rem, 1vw + 1rem, 1.5rem);
  font-weight: 400;
}

.skills {
  display: flex;
  justify-content: space-between;
  /* width: 20%; */
  gap: 30px;
}

.skills p {
  padding: 5px;
  font-size: clamp(1rem, 1vw + 1rem, 1.5rem);
  font-weight: 400;
  background-color: var(--color-bg2);
  border-radius: 15px;
  color: var(--color-bg-dark);
  font-weight: 800;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  font-size: clamp(1rem, 1vw + 1rem, 1.5rem);
  font-weight: 400;
}

.links a {
  color: var(--color-bg-dark);
  font-weight: 800;
  background-color: var(--color-bg2);
  border-radius: 15px;
  padding: 8px;
  text-decoration: none;
  transition: transform 0.5s;
}

.links a:hover {
  transform: scale(1.25);
}
