@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  margin-top: 129px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #030d1b;
  border-radius: 15px;
  padding: 73px;
  color: var(--color-text);
}

.title {
  font-size: 35px;
  font-family: var(--font-outfit);
  font-weight: 700;
  line-height: 44.1px;
  letter-spacing: 1.75px;
}

.content {
  display: flex;
  align-items: center;
}

.aboutImage {
  width: 35%;
  display: block;
}

.aboutItems {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.aboutItem {
  display: flex;
  min-height: 128px;
  align-items: center;
  border-radius: 20px;
  background: none;
  background-image: linear-gradient(
    90deg,
    rgb(255, 255, 255, 0.25) 0%,
    rgb(255, 255, 255, 0) 75%
  );
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
}

.aboutItem:hover {
  background-size: 100% 100%;
}

.skillsContainer div img {
  width: 50px;
  height: 50px;
}

.aboutItemText {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  line-height: 31.5px;
  color: var(--color-text);
}

.aboutItemText h2 {
  font-weight: 600;
}

.aboutItemText p {
  font-weight: 400;
}

@media screen and (max-width: 830px) {
  .container {
    background: none;
    padding-inline: 0;
  }
  .aboutImage {
    display: none;
  }
  .aboutItems {
    margin-top: 29px;
  }
  .aboutItem {
    padding-inline: 0;
  }
}
