@import "../../vars.css";

.container {
  margin-top: 74px;
  background-color: var(--color-navbar);
  display: flex;
  justify-content: space-around;
  padding: 3rem 4rem;
}

.contactText {
  padding: 20px;
}
.contactText h1 {
  color: var(--color-text-highlight);
  font-size: clamp(3rem, 2vw + 1rem, 6rem);
  font-weight: 700;
}

.contactText h3 {
  color: var(--color-text);
  font-size: clamp(2rem, 1vw + 1rem, 4rem);
}
.contactDetails {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contactDetails div {
  display: flex;
  gap: 10px;
  padding: 20px;
  border-radius: 20px;
}

.contactDetails div:hover {
  background-color: var(--color-bg-dark);
  transform: scale(1.05);
  transition: transform 0.4s;
}

a {
  color: var(--color-text);
  font-size: clamp(2rem, 1vw + 1rem, 4rem);
  text-decoration: none;
}

.icon {
  color: var(--color-text-highlight);
  font-size: clamp(2rem, 1vw + 1rem, 4rem);
  margin-top: 5px;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 55px;
  }
  a {
    color: var(--color-text);
    font-size: clamp(1rem, 1.5vw + 1rem, 2rem);
    text-decoration: none;
  }
}
