:root {
  /* Colors */
  --color-text: #fc959d;
  --color-primary: #468ee9;
  --color-secondary: #29438b;
  --color-dark: #0f2e4f;
  --color-bg: #4c326e;
  --color-bg2: #ed6395;

  /* Fonts */
  --font-roboto: "Roboto";
  --font-outfit: "Outfit";
}
